.recipe-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}



.recipes-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%; 
    box-sizing: border-box; 
    margin-top: 20px; 
    margin-left: auto
}

.buttons-container {
    display: flex;
    align-items: center;
    gap: 16px; 
}



